<div class="container mt-5 mb-5">
   <h1>Entre em contato conosco!</h1>
   <form class="col-lg-7">
      <div class="row">
         <div class="col-lg-6 mt-2 mb-2">
            <input type="text" class="form-control" placeholder="Seu primeiro nome">
         </div>
         <div class="col-lg-6 mt-2 mb-2">
            <input type="text" class="form-control" placeholder="Seu ultimo nome">
         </div>
         <div class="col-lg-12 mt-2 mb-2">
            <input type="email" class="form-control" placeholder="Seu email">
         </div>
         <div class="col-lg-12 mt-2 mb-2">
            <input type="text" class="form-control" placeholder="Seu número de telefone">
         </div>
         <div class="col-lg-12 mt-2 mb-2">
            <input type="text" class="form-control" placeholder="Motivo do contato">
         </div>
         <div class="col-lg-6 mt-2 mb-2">
            <button type="submit" class="btn btn-md btn-dark">Enviar</button>
         </div>
      </div>
   </form>
</div>
