footer {
   overflow: hidden;
   position: sticky;
   top: 100%;
   background-color: #1d1d1d;
   padding: 20px 10px;

}

h1 {
   font-weight: 700;
   color: #fff;
   font-size: 20px;
}

p {
   color: #fff;
   font-size: 12px;
}

a {
   color: #fff;
   text-decoration: none;
   padding: 0 10px;
   font-size: 17px;
}

a:hover {
   color: var(--primary-color);
   transition: 0.2s;
}

i {
   padding: 0 10px;
}
