<footer class="container-fluid footer mt-5">
   <div class="row">

      <!-- Nome da empresa -->
      <div class="col-lg-6 mt-3 mb-3">
         <h1>Rancho dos Rapazes</h1>
         <p>Boa comida, Boa de Comer</p>
      </div>

      <!-- Navegação -->

      <div class="col-lg-4 mt-3 mb-3">
         <a routerLink="">Inicio</a>
         <a routerLink="menu">Menu</a>
         <a routerLink="about">Sobre</a>
         <a routerLink="contact">Contato</a>
      </div>

      <!-- Midia Social -->
      <div class="col-lg-2 mt-3 mb-3">
         <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
         <a href="https://www.instagram.com/rancho_dos_rapazes/?hl=en" target="_blank"><i class="bi bi-instagram"></i></a>
         <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
      </div>

   </div>
</footer>
